<%= form_with(model: ticket_discussion) do |form| %>
  <% if ticket_discussion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ticket_discussion.errors.count, "error") %> prohibited this ticket_discussion from being saved:</h2>

      <ul>
        <% ticket_discussion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
