<h1>Editing discussion</h1>

<%= render "form", ticket_discussion: @ticket_discussion %>

<br>

<div>
  <%= link_to "Show this discussion", @ticket_discussion %> |
  <%= link_to "Back to discussions", ticket_discussions_path %>
</div>
