<style>
.dashboard-component-ticket-count p {
    font-size: 4rem;
    font-weight: 600;
}
</style>
<div class="dashboard-component-ticket-count">
    <div class="box">
        <h6 class="is-title is-size-6 mb-0">Total tickets</h6>
        <p class="has-text-centered">
            <%= current_user.account.support.tickets.count %>
        </p>
    </div>
</div>
