<%= form_with(model: sla_activity, local: true) do |form| %>
  <% if sla_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sla_activity.errors.count, "error") %> prohibited this sla_activity from being saved:</h2>

      <ul>
        <% sla_activity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
