<h1>Editing catalog priority</h1>

<%= render "form", catalog_priority: @catalog_priority %>

<br>

<div>
  <%= link_to "Show this catalog priority", @catalog_priority %> |
  <%= link_to "Back to catalog priorities", catalog_priorities_path %>
</div>
