<p style="color: green"><%= notice %></p>

<h1>Catalog priorities</h1>

<div id="catalog_priorities">
  <% @catalog_priorities.each do |catalog_priority| %>
    <%= render catalog_priority %>
    <p>
      <%= link_to "Show this catalog priority", catalog_priority %>
    </p>
  <% end %>
</div>

<%= link_to "New catalog priority", new_catalog_priority_path %>
