<h1>Editing Custom Validation Rule</h1>

<%= render 'form', custom_validation_rule: @custom_validation_rule %>

<%= link_to 'Show', @custom_validation_rule %> |
<%= link_to 'Back', custom_validation_rules_path %>
