<%= form_with(model: sla_discussion, local: true) do |form| %>
  <% if sla_discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sla_discussion.errors.count, "error") %> prohibited this sla_discussion from being saved:</h2>

      <ul>
        <% sla_discussion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
