<h1>Editing catalog type</h1>

<%= render "form", catalog_type: @catalog_type %>

<br>

<div>
  <%= link_to "Show this catalog type", @catalog_type %> |
  <%= link_to "Back to catalog types", catalog_types_path %>
</div>
