<p style="color: green"><%= notice %></p>

<h1>Catalog types</h1>

<div id="catalog_types">
  <% @catalog_types.each do |catalog_type| %>
    <%= render catalog_type %>
    <p>
      <%= link_to "Show this catalog type", catalog_type %>
    </p>
  <% end %>
</div>

<%= link_to "New catalog type", new_catalog_type_path %>
