<h1>Editing Workflow Association</h1>

<%= render 'form', workflow_association: @workflow_association %>

<%= link_to 'Show', @workflow_association %> |
<%= link_to 'Back', workflow_associations_path %>
