<h1>Editing Catalog Ticket Source</h1>

<%= render 'form', catalog_ticket_source: @catalog_ticket_source %>

<%= link_to 'Show', @catalog_ticket_source %> |
<%= link_to 'Back', catalog_ticket_sources_path %>
