<p style="color: green"><%= notice %></p>

<h1>Catalog workspaces</h1>

<div id="catalog_workspaces">
  <% @catalog_workspaces.each do |catalog_workspace| %>
    <%= render catalog_workspace %>
    <p>
      <%= link_to "Show this catalog workspace", catalog_workspace %>
    </p>
  <% end %>
</div>

<%= link_to "New catalog workspace", new_catalog_workspace_path %>
